*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
$color-background: #f9f5c7;
body{
   background-color: $color-background;
   text-align: center;
   font-size: 1.5rem;
}
h1{
   margin-top: 10px;
}
